@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app-layout {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10px;
}

.app-layout app-navbar-lateral {
  flex: 0 0 10%;
  justify-content: center;
  align-items: center;
}

.app-layout .contenedor {
  flex-grow: 1;
}

.contenedor {
  height: 100vh;
  padding: 40px;
}
